
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div
			class="navbar-wrapper  ">
			<div class="navbar-content scroll-div "
				>
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
								class="pcoded-mtext">Halaman Utama</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Tipologi Pelanggan</label>
					</li>
					<li class="nav-item">
						<a href="/halaman-tipologi.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Halaman tipologi</span></a>
					</li>

					<li class="nav-item">
						<a href="/halaman-data.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Halaman data</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Lainnya</label>
					</li>
					<li class="nav-item">
						<a href="/halaman-bantuan.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-box"></i></span><span class="pcoded-mtext">Halaman bantuan</span></a>
					</li>
					<li class="nav-item">
						<a href="/halaman-pengguna.html" class="nav-link "><span class="pcoded-micon"><i
									class="feather icon-feather"></i></span><span class="pcoded-mtext">Halaman pengguna</span></a>
					</li>
				
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
    