{% extends "layouts/base.html" %}

{% block title %} Halaman Pengguna {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">

<!--Main Content START-->
        <div class="container">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src= alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                            <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <span style="margin:10px;"></span>
                    <h5>User Profile</h5>
                    <div class="card">
                        <div class="card-body">
    
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti123</p>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Kshiti Ghelani</p>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>kshitighelani@gmail.com</p>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>123 456 7890</p>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Profession</label>
                                </div>
                                <div class="col-md-6">
                                    <p>: Web Developer and Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <a href="/edit-pengguna.html"><button type="button" class="btn btn-outline-primary" style= "margin: 20px 45%; border-radius:20px;width: 400px;">Edit Profile</button></a>
                </div>
        
            
        </div>
    </div>
</div>
            {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <!--Plugins -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!--Specific Chart-->
{% endblock javascripts %}
