{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- order-card start -->
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-blue order-card">
                        <div class="card-body">
                            <h6 class="text-white">Jumlah Transaksi</h6>
                            <h2 class="text-end text-white"><i class="feather icon-shopping-cart float-start"></i><span>xx</span></h2>
                            <p class="m-b-0">Transaksi Tahun Ini<span class="float-end">xx</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-green order-card">
                        <div class="card-body">
                            <h6 class="text-white">Jumlah Pelanggan</h6>
                            <h2 class="text-end text-white"><i class="feather icon-tag float-start"></i><span>xx</span>
                            </h2>
                            <p class="m-b-0">Pelanggan Tahun Ini<span class="float-end">xx</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-c-yellow order-card">
                        <div class="card-body">
                            <h6 class="text-white">Total Pendapatan</h6>
                            <h2 class="text-end text-white"><i
                                    class="feather icon-repeat float-start"></i><span>xx</span></h2>
                            <p class="m-b-0">Pendapatan Tahun Ini<span class="float-end">xx</span></p>
                        </div>
                    </div>
                </div>
                <!-- order-card end -->
                <!-- grafik penjualan start -->
                <div class="col-md-6 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Jumlah Order</h5>
                    </div>
                            <div id="sales-chart" style="height: 250px;"class="ag-theme-alpine-dark"></div> <!--grafik penjualan-->
                    </div>
                </div>
                <!-- grafik penjualan end -->

                <!-- map chart pelanggan start -->
                <div class="col-md-6 col-x2-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pelanggan Setiap Regional</h5>
                    </div>
                            <div id="map-chart" style="height: 250px;"class="ag-theme-alpine-dark"></div> <!--Javascript chart map-->
                    </div>
                </div>
                <!-- map chart pelanggan end -->

                <!-- chart volume penjualan berdasarkan produk start -->
                <div class="col-md-6 col-x2-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Penjualan Berdasarkan Produk</h5>
                    </div>
                            <div id="product-chart" style="height: 250px;"class="ag-theme-alpine-dark"></div> <!--Javascript chart map-->
                    </div>
                </div>
                <!-- map chart pelanggan end -->
                                                          
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!--  Plugins -->
    <script src="https://unpkg.com/ag-grid-enterprise@28.2.0/dist/ag-grid-enterprise.min.js">    </script>

    <!-- Data JS-->
    <script src="/static/assets/js/data/halaman-utama.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/halaman-utama.js"></script>

{% endblock javascripts %}
